# Node
node_modules
.npm
*.log
npm-debug.log*

# IDE (including symlinks)
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.classpath
.settings
.metadata
.gradle
.swc
.project
*.iml
*.launch

# Other
.DS_Store
.envrc

# Legal files copied into packages by copyLegalFiles task
*/LICENSE
*/NOTICE
*/THIRD_PARTY_NOTICES
*/licenses

# Build artifact
lib
build
dist
target
public-showcase
storybook-static
json-api/core
com.mgmtp.a12-*.tgz
cyclonedx.json
sbom.json
core/pnpm-lock.yaml
**/generated
tsconfig.tsbuildinfo

# Test artifact
**/test-results/
**/playwright-report/
**/playwright/.cache/
__screenshots__
.worktrees
.vitest-attachments